<div class="container">
  <div class="flex-row flex-column">
    <h1 class="text-center mb-5">Reddreader FAQs</h1>
    <div class="mb-5">
      <h3 class="text-left">Why aren't there more results?</h3>
      <p>I'm using an API wrapper called Snoowrap for NodeJS that enables me to hit the Reddit API. I wanted Reddreader to be
        a weekly update, and you can't grab specific weeks in the past using the wrapper, so Reddreader will contain content
        from the 35th week of 2017 onwards. I might do a 'best of Subreddit X 2017' at the end of the year.</p>
    </div>
    <div class="mb-5">
      <h3 class="text-left">What kind of scraping do you use?</h3>
      <p>I'm using Snoowrap to grab results via the Reddit API. There are definitely better methods - such as using Request
        & Cheerio to properly scrape web pages then parse the text, but TBH for this project I wanted to keep it simple.
        Down the line I might look into a more intense method of scraping results.</p>
    </div>
    <div class="mb-5">
      <h3 class="text-left">What Technology Does It Use?</h3>
      <p>Angular 4+, Angular CLI, NodeJS, Express, Bootstrap 4, Snoowrap and much, much more! Check out the package.json over
        at Github.</p>
    </div>
    <div class="mb-5">
      <h3 class="text-left">How Does It Make Money?</h3>
      <p>Every book sold via a link on Reddreader earns me a percentage of the revenue via the Amazon Affiliate program</p>
    </div>
    <div class="mb-5">
      <h3 class="text-left">How long have you been coding?</h3>
      <p>I've been coding for just over 4 years properly - I tried to learn on & off for over a decade but didn't really start
        to understand how to really code things until I decided to just start building a project. That was the best decision
        I made in terms of learning to code - tutorials, books and videos can only take you so far. Just code baby!</p>
    </div>
    <div class="mb-5">
      <h3 class="text-left">This website sucks</h3>
      <p>That isn't a question.</p>
    </div>

  </div>
</div>
