<footer class="bd-footer text-muted">
  <h4>Don't Miss a Book!</h4>
  <p class="text-center">Get a weekly newsletter of reading suggestions</p>
  <form class="newsletter-form form-inline">
    <div class="form-group">
      <input [(ngModel)]="email" required type="email" name="email" value="" placeholder="Enter email address">
      <button (click)="onSubmit()" class="rr-button primary">Submit</button>
    </div>
  </form>
  <div class="subcribe-status">
    <p>
      {{this.subscribeStatus}}
    </p>
  </div>
  <ul class="nav justify-content-center">
    <li><a href="#">Contact</a></li>
    <li><a href="#">Something Else</a></li>
    <li><a href="#">Back to Top</a></li>
  </ul>
  <small class="mt-4">
      Reddreader participates in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn commissions by linking to Amazon.com. TLDR; whenever you buy a book on Amazon.com by clicking the link from Reddreader then I get a small cut which pays for my careless ICO speculation and / or train tickets.
  </small>
</footer>
