<footer class="bd-footer text-muted">
  <h4>Don't Miss a Book!</h4>
  <p class="text-center">Get a weekly newsletter of reading suggestions</p>
  <app-newsletter-form></app-newsletter-form>
  <ul class="nav justify-content-center">
    <!-- <li><a class="toTop" (click)="onScrollTo($event)">Back to Top</a></li> -->
  </ul>
  <small class="mt-4">
      Reddreader participates in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn commissions by linking to Amazon.com. TLDR; whenever you buy a book on Amazon.com by clicking the link from Reddreader then I get a small cut which pays for my careless ICO speculation, mechanical keyboard obsession and / or server time.
  </small>
  <ul class="nav justify-content-center social-media">
    <li>
      <a target="_blank" rel="noopener noreferrer" href="https://medium.com/@jacobedawson">
        <i title="Jacob E. Dawson - Medium" class="fontello">&#xf23a;</i>
      </a>
    </li>
    <li>
      <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/jacobedawson">
        <i title="Jacob E. Dawson - Twitter" class="fontello">&#xf30a;</i>
      </a>
    </li>
    <li>
      <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/jacobedawson">
        <i title="Jacob E. Dawson - Facebook" class="fontello">&#xf30d;</i>
      </a>
    </li>
  </ul>
  <small class="mt-4">Built with 🔥 by Jacob E. Dawson</small>
</footer>
