<footer class="bd-footer text-muted">
  <h4>Don't Miss a Book!</h4>
  <p class="text-center">Get a weekly newsletter of reading suggestions</p>
  <form class="newsletter-form form-inline">
    <div class="form-group">
      <input type="email" name="email" value="" placeholder="Enter email address">
      <button class="rr-button primary" type="submit">Submit</button>
    </div>
  </form>
  <ul class="nav justify-content-center">
    <li><a href="#">Contact</a></li>
    <li><a href="#">Something Else</a></li>
    <li><a href="#">Back to Top</a></li>
  </ul>
</footer>
