@import '../sass/_colors.scss';
@import '../sass/_mixins.scss';

footer {
    width: 100%;
    border-top: 1px solid $rr-red;
    padding: 36px 16px;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h4 {
        color: $rr-red;
    }
    
    p {
        color: $rr-grey-mid;
    }
    ul.nav {
        margin-top: 24px;
        li {
            margin-right: 5px;
            a {
                color: $rr-grey-mid;
            }
        }
    }
    small {
        max-width: 1140px;
    }
}

.social-media {
    a {
        text-decoration: none;
    }
}

.toTop {
    cursor: pointer;
}


