@import '../sass/colors';


.navbar {
    border-bottom: 1px solid $rr-red;
}

.navbar-brand {
    color: $rr-red;
    border: 3px solid $rr-red;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 4px;
    transition: 0.3s all ease-in-out;
    &:hover {
        color: $rr-pink;
        border: 3px solid $rr-pink;
    }
}

.menu-toggle {
    color: $rr-red;
}