<!-- Image and text -->
<nav class="navbar navbar-light bg-faded" id="navbar">
  <a class="navbar-brand" href="/" title="Reddreader - Top Reddit Books">
    Rr
  </a>
  <!-- <div class="menu-toggle">
    |||
  </div> -->
  <div class="navbar-links">
    <a routerLink="/about" routerLinkActive="active">About</a>
    <a routerLink="/newsletter" routerLinkActive="active">Newsletter</a>
    <a routerLink="/faq" routerLinkActive="active">FAQ</a>
    <a target="_blank" ref="noopener noreferrer" href="https://www.reddit.com/r/Reddreader">Feedback</a>
  </div>
</nav>