<!-- Modal -->
<div class="modal fade" id="newsletterModal" tabindex="-1" role="dialog" aria-labelledby="newsletterModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center w-100" id="newsletterModalLabel">Fresh Books Every Week, Direct to Your Inbox</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-newsletter-form></app-newsletter-form>
        </div>
        <div class="modal-footer">
          <p><i>"If we encounter a man of rare intellect, we should ask him what books he reads."</i> - Ralph Waldo Emerson</p>
        </div>
      </div>
    </div>
  </div>