@import '../sass/_variables';
@import '../sass/_colors';

.post-thumbnail {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    @media (max-width: 1200px) {
        margin: 10px auto;
        width: 100%;
    }
}

.post-card {
    margin-bottom: 10px;
    background: $rr-blue;
    border-left: 3px solid transparent;
    transition: 0.3s all ease-in-out;
    &:hover {
        border-left: 3px solid $rr-pink;
        h4 {
            transition: 0.3s all ease-in-out;
            color: $rr-pink;
        }
    }
}

.book-card {
    margin-bottom: 10px;
    background: $rr-blue;
    border-left: 3px solid transparent;
    border-top: 1px solid rgb(14, 36, 57);
    transition: 0.3s all ease-in-out;
    &:hover {
        border-left: 3px solid $rr-red;
        transform: translateX(10px);
        .card-title {
            transition: 0.3s all ease-in-out;
            color: $rr-red;
        }
    }
}

.card-block {
    margin-left: 24px;
    h4 {
        margin-top: 16px;
    }
    @media (max-width: 800px) {
        margin-left: 0;
        margin-top: 16px;
        .post-stats {
            width: 100%;
            justify-content: center;
        }
    }
}

.book-information {
    flex: 1 1 auto;
}