<div class="container">
  <!-- Post Layout -->
  <div class="card post-card p-4 mb-4">
    <div class="d-flex align-items-center flex-row flex-wrap">
      <div class="post-thumbnail" [style.background-image]="'url(https://a.thumbs.redditmedia.com/MmniGn5FJiynp9_i67pL-cJH42boCYMO3fRMzZc3xU0.jpg)'"></div>
      <div class="card-block">
        <h4 class="card-title">I analyzed Steve Job's Iphone pitch. Here are the 8 things I learned.</h4>
        <div class="d-inline-flex post-stats">
          <p class="card-text">Score: 117</p>
          <p class="card-text ml-3">Comments: 9</p>
        </div>
      </div>
    </div>
    <p class="card-text text-center mt-3">Books Mentioned in this Thread</p>
    <!-- book layout -->
    <div class="card p-4 book-card">
      <div class="card-block d-flex align-items-center flex-row flex-wrap">
        <div class="post-thumbnail" [style.background-image]="'url(https://images-na.ssl-images-amazon.com/images/I/51OP2Vjo34L.jpg)'"></div>
        <div class="ml-4 book-information">
          <h5 class="card-title">Resonate: Present Visual Stories that Transform Audiences</h5>
          <p class="card-text author">Nancy Duarte</p>
          <a href="#" class="rr-button primary">View Book
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="arrow">
                  <path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z">
                  </path>
                </svg>
            </a>
        </div>
      </div>
    </div>
    <!-- book layout -->
    <div class="card p-4 book-card">
      <div class="card-block d-flex align-items-center flex-row flex-wrap">
        <div class="post-thumbnail" [style.background-image]="'url(https://images-na.ssl-images-amazon.com/images/I/51F252NQl8L.jpg)'"></div>
        <div class="ml-4 book-information">
          <h5 class="card-title">The Presentation Secrets of Steve Jobs: How to Be Insanely Great in Front of Any Audience</h5>
          <p class="card-text author">Carmine Gallo</p>
                    <a href="#" class="rr-button primary">View Book
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="arrow">
                  <path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z">
                  </path>
                </svg>
            </a>
        </div>
      </div>
    </div>
    <!-- book layout -->
    <div class="card p-4 book-card">
      <div class="card-block d-flex align-items-center flex-row flex-wrap">
        <div class="post-thumbnail" [style.background-image]="'url(https://b.thumbs.redditmedia.com/e7ZgnAEQGw2bROHWJsNGbIvJ9MdW49C_7MwDn7Y57Co.jpg)'"></div>
        <div class="ml-4 book-information">
          <h5 class="card-title">Zero to One</h5>
                    <a href="#" class="rr-button primary">View Book
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="arrow">
                  <path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z">
                  </path>
                </svg>
            </a>
        </div>
      </div>
    </div>

  </div>
  <!-- post image -->
  <!-- title -->
  <!-- description -->
  <!-- stats -->
</div>
