<div class="container">
  <!-- Post Layout -->
  <div class="card p-4 mb-4">
    <div class="d-flex align-items-center flex-row flex-wrap">
      <div class="post-thumbnail" [style.background-image]="'url(https://a.thumbs.redditmedia.com/MmniGn5FJiynp9_i67pL-cJH42boCYMO3fRMzZc3xU0.jpg)'"></div>
      <div class="card-block ml-4">
        <h4 class="card-title">I analyzed Steve Job's Iphone pitch. Here are the 8 things I learned.</h4>
        <div class="d-inline-flex">
          <p class="card-text">Score: 117</p>
          <p class="card-text ml-3">Comments: 9</p>
        </div>
      </div>
    </div>
    <p class="card-text text-center mt-3">Books Mentioned in this Thread</p>
    <!-- book layout -->
    <div class="card p-4">
      <div class="card-block d-flex align-items-center flex-row flex-wrap">
          <div class="post-thumbnail" [style.background-image]="'url(https://b.thumbs.redditmedia.com/acWt3nCZJuM0L_rqlxnqpLePeAxKYzt5BWRNmZHVkBU.jpg)'"></div>
        <div class="ml-4 book-information">
            <h5 class="card-title">Resonate: Present Visual Stories that Transform Audiences</h5>
            <a href="#" class="rr-button primary">View Book</a>
        </div>
      </div>
    </div>
    <!-- book layout -->
    <div class="card p-4">
      <div class="card-block d-flex align-items-center flex-row flex-wrap">
          <div class="post-thumbnail" [style.background-image]="'url(https://b.thumbs.redditmedia.com/vOc7w23rXm0MkYs8Zj_6yR2NLrzcTXKO5UPBtWDsT3U.jpg)'"></div>
        <div class="ml-4 book-information">
            <h5 class="card-title">The Lean Startup</h5>
            <a href="#" class="rr-button primary">View Book</a>
        </div>
      </div>
    </div>
    <!-- book layout -->
    <div class="card p-4">
      <div class="card-block d-flex align-items-center flex-row flex-wrap">
          <div class="post-thumbnail" [style.background-image]="'url(https://b.thumbs.redditmedia.com/e7ZgnAEQGw2bROHWJsNGbIvJ9MdW49C_7MwDn7Y57Co.jpg)'"></div>
        <div class="ml-4 book-information">
            <h5 class="card-title">Zero to One</h5>
            <a href="#" class="rr-button primary">View Book</a>
        </div>
      </div>
    </div>

  </div>
  <!-- post image -->
  <!-- title -->
  <!-- description -->
  <!-- stats -->
</div>
