@import '../sass/_variables';
@import '../sass/_colors';
@import '../sass/_mixins.scss';

.post-card {
    margin-bottom: 10px;
    background: $rr-blue;
    border-left: 3px solid $rr-grey-dark;
    transition: 0.3s all ease-in-out;
    padding: 24px;
    h4.card-title {
        color: rgb(222, 222, 222);
        a {
            color: inherit;
            text-decoration: none;
        }
    }
    &:hover {
        border-left: 3px solid $rr-pink;
        h4 {
            transition: 0.3s all ease-in-out;
            color: $rr-pink;
        }
    }
    @include breakpoint(sm) {
        padding: 0;
        border: 0;
        &:hover {
            border: 0;
        }
    }
}

.post-stats {
    @include breakpoint(xs) {
        font-size: 14px;
    }
}

.card-block {
    margin-left: 24px;
    flex: 1 1 70%;
    h4 {
        margin-top: 16px;
    }
    @include breakpoint(sm) {
        margin-left: 0;
        .post-stats {
            width: 100%;
            justify-content: center;
        }
    }
}