@import '../sass/_colors.scss';
@import '../sass/_mixins.scss';

.row {
    flex-direction: column;
    padding: 24px;
    @include breakpoint(xs) {
        padding-bottom: 0;
    }
}

h1 {
    color: $rr-red;
}

a[data-toggle="modal"] {
    transition: 0.3s ease-in-out all;
    color: $rr-red;
    cursor: pointer;
    &:hover {
        color: $rr-pink;
    }
}