<div class="row p-2 justify-content-center">
  <form class="form-inline justify-content-between">
    <select (change)="onSubredditSelection($event)" class="custom-select" id="inlineFormCustomSelect">
      <option *ngFor="let entry of catalog" value="{{entry.subreddit}}">
        {{entry.subreddit}}
      </option>
    </select>
    <select (change)="onDateSelection($event)" class="custom-select">
      <option *ngFor="let sub of activeSub" value="{{sub.dates.week}}{{sub.dates.year}}">
          Week {{sub.dates.week}} - {{sub.dates.year}}
      </option>
    </select>
    <button type="submit" (click)="onFilterSearch()" class="rr-button primary">Submit</button>
  </form>
</div>
