<div class="row p-2 justify-content-center">
  <form class="form-inline justify-content-between">
    <select (change)="onDateSelection($event)" class="custom-select">
          <option *ngFor="let date of dates" value="{{date.week}}{{date.year}}">
              Week {{date.week}} - {{date.year}}
          </option>
        </select>
    <select (change)="onSubredditSelection($event)" class="custom-select" id="inlineFormCustomSelect">
      <option *ngFor="let sub of subreddits; let i = index" [selected]="i == 0" [ngValue]="sub">
        {{sub}}
      </option>
    </select>
    <button type="submit" (click)="onFilterSearch()" class="rr-button primary">Submit</button>
  </form>
</div>
