<div class="container">
    <div class="flex-row flex-column">
      <h1 class="text-center mb-5">Get The Reddreader Newsletter</h1>
      <div class="mb-5">
        <h3 class="text-left">What's In The Newsletter?</h3>
        <p>The weekly Reddreader newsletter contains all of the books that were featured during the week, collected automatically and then filtered manually just in case any robot weirdness sneaks in there 🤖. If there's time I'll add in an introduction / additional info for each book, and in the next phase I'd like to add additional ratings / comments on the book to flesh out the context.<br><br>
        The newsletter arrives just once a week, and hopefully you'll find it useful to help keep your bookcase filled to the brim.<br><br>📚 Fill me up, Chandler!</p>
      </div>
    </div>
  </div>
  