a.rr-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ccc;
    padding: 10px 16px;
    color: #ccc;
    text-decoration: none;
    transition: 0.3s all ease-in-out;
    display: block;
    text-align: center;
    max-width: 200px;
}

.rr-button.primary {
    border: 2px solid $rr-red;
    color: $rr-red;
    &:hover {
        background: $rr-red;
        color: #fff;
        .arrow {
            transition: 0.3s all ease-in-out;
            fill: #fff;
        }
    }
}   

.arrow {
    fill: $rr-red;
    height: .7em;
    margin-left: .4em;
    transition: 0.3s all ease-in-out;
}