$rr-red: #d6353d;

$rr-pink: #F46C4E;

$rr-blue: #071525;
$rr-blue-dark: #1a2a3c;

$rr-brown: #723325;

$rr-green-dark: #00A569;
$rr-green-light: #05F29C;

$rr-grey-dark: #656565;
$rr-grey-mid: #BEBBC0;
$rr-grey-light: #f3f3f3;