/* You can add global styles to this file, and also import other style files */
@import './app/sass/_colors.scss';
@import './app/sass/_buttons.scss';
@import './app/sass/_mixins.scss';
@font-face {
    font-family: 'Fontello';
    src: url('assets/fonts/fontello.eot'),
        url('assets/fonts/fontello.ttf'),
        url('assets/fonts/fontello.woff'),
        url('assets/fonts/fontello.woff2');
}


body {
    font-family: 'Roboto', sans-serif;
    color: $rr-grey-mid;
    background: $rr-blue;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.content-container {
    min-height: 900px;
}

a {
    transition: 0.3s all ease-in-out;
    color: $rr-pink;
    &:hover {
        color: lighten($rr-pink, 10%);
    }
}

a.active {
    font-weight: bold;
}

// TODO move to card styles
.post-thumbnail {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    @include breakpoint(lg) {
        margin: 10px auto;
        width: 100%;
    }
}

.fontello {
    font-family: 'Fontello';
    font-style: normal;
    font-size: 2rem;
    margin: 0 5px;
    cursor: pointer;
    color: $rr-grey-mid;
    transition: 0.3s all ease-in-out;
    &:hover {
        color: $rr-red;
    }
}